.cache/
vendor/
[._]*.sw[a-p]

# Binaries (in root directory only)
/dra-test-kubeletplugin
/dra-test-controller
/dra-test-webhook

# IDE
.idea/
.vscode/

driver_image.tar
*.tgz

# Ignore config telemetry files
.config/

# Test and build artifacts
coverage.out
logcheck
